body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* TOP BAR */
.top-bar {
    width: 100%;
    height: 60px;
    background-color: #22C55E;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

/* LEFT SIDE */
.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* LOGO */
.logo img {
    height: 45px;
}

/* DROPDOWN */
.dropdown {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    height: 35px;
    background-color: #DCCB5D;
    color: #1E1E1E;
}

/* PROFILE */
.profile {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* MAIN LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #111827;
    padding: 15px;
}

/* SIDEBAR LINKS */
.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #1F2937;
}

.sidebar a.active {
    background-color: #22C55E;
    color: black;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
}

/* LARGE CARD */
.large-card {
    margin-top: 20px;
    height: 200px;
    background: #e5e7eb;
    border-radius: 10px;
    padding: 20px;
}

/* BOTTOM SECTION */
.bottom-section {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.notes, .assignment {
    flex: 1;
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
}